@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
    }

    .section {
        padding: 120px 0;
    }

    .container {
        max-width: 1158px;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .features-item {
        width: calc(100% / 5);
    }

    .features-list {
        gap: 24px; 
        justify-content: center;
    }

    .features-icons {
        display: flex;
        width: 100%;
    }

    .team-item {
        flex-wrap: nowrap;
    }

    .services {
        display: flex;
    }

    .client-logo {
        max-width: unset;
    }

    .footer-container {
        max-width: unset;
        flex-direction: row;
    }

    .footer-subscribe {
        margin-left: 80px;
    }

    .input-footer-email {
        margin-bottom: 16px;
    }

    .modal {
        max-width: 1158px;
    }
}
@media  and (mion-width: 1158px) {
    padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-bg-pic.jpg");
        url(../images/hero/tablet-dark-bg@2x.jpg) 
    background-size: 1440px, 1440px;

@media (min-device-pixel-ration: 2), (min-resolution: 192dpi), (min-resolution:2dppx) {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-bg-pic.jpg");
    url(../images/hero/tablet-dark-bg@2x.jpg) 
}
}